.cozy3d-calculator {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif; /*for development*/

  --main-font-size: 16px;
  --label-font-size: 14px;
  --header-font-size: calc(var(--main-font-size) * 1.5);
  --cost-font-size: calc(var(--main-font-size) * 2);
  --border-radius: 4px;
  --calc-width: 360px;
  --round-radio-size: calc((var(--main-font-size) * 2) + 3px);

  --black-color: #404040;
  --white-color: #ffffff;
  --orange-color: #f47521;
  --pressed-orange: #c35207;
  --label-color: #999999;

  --space-l: calc(var(--main-font-size) * 1.5);
  --space-xl: calc(var(--main-font-size) * 3);
  --space-m: var(--main-font-size);
  --space-s: calc(var(--main-font-size) * 0.5);
  --stripped-space: calc(var(--space-xl) * -2);

  --s-color: 0, 0, 0;
  --shadow-color: 1px 1px 5px 2px rgba(var(--s-color), 0.2);

  --label-s-color: 244, 117, 33;
  --label-shadow: 0 0 0 3px rgba(var(--label-s-color), 0.5);
}

@media screen and (min-width: 1025px) {
  .cozy3d-calculator {
    flex-direction: row;
    /* padding: var(--space-l); */
  }
}
