.button-label {
  display: inline-block;
  padding: var(--space-s) var(--space-s);
  font-size: var(--main-font-size);
  box-shadow: var(--shadow-color);
  border-radius: var(--border-radius);
  color: var(--black-color);
  background-color: var(--white-color);
  font-weight: 500;
  cursor: pointer;
  transition: box-shadow 0.15s;
  transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button-label_round {
  padding: 0;
  width: var(--round-radio-size);
  height: var(--round-radio-size);
  line-height: var(--round-radio-size);
  vertical-align: middle;
  text-align: center;
  --border-radius: 50%;
  transition: box-shadow none;
}

.button-label_checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-label_checkbox::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--white-color);
  border: 2px solid var(--orange-color);
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: var(--space-s);
}

.button-label_checkbox-checked::before {
  background-color: var(--white-color);
  background-image: url('/check-mark.svg');
  background-size: 100%;
}

.button-label:hover {
  box-shadow: var(--label-shadow);
}

.button-input:focus + .button-label {
  box-shadow: var(--label-shadow);
}

.button-input:active + .button-label {
  color: var(--white-color);
  background-color: var(--pressed-orange);
}

.button-label_checked {
  color: var(--white-color);
  background-color: var(--orange-color);
}