.calc-section {
  border: none;
  margin: 0;
  padding: 0;

}

.calc-section__legend {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-s);
  font-size: var(--label-font-size);
  font-weight: 700;
  color: var(--label-color);
}

.calc-section__radio-button {
  display: inline-block;
  margin-right: var(--space-s);
  margin-bottom: var(--space-s);
}